<footer>
  <div class="footer-container">
    <h2 onclick="window.location.href='https://superprofile.bio/manzettkoushal'">Book Your Session Today</h2>
    <div class="middle-content-wrapper">
      <div class="logo">
        <img src="../assets/images/logo/Footer-Logo.png" alt="">
      </div>
      <div class="premium-and-contact-wrapper">
        <div class="premimum-services">
          <h3>Premium Services</h3>
          <ul>
            <li>Premium Personalized Kundli</li>
            <li>Book Consultation Call</li>
            <li>Fortune Report </li>
            <li>Kundali Matching</li>
          </ul>
        </div>
        <div class="contact-details">
          <h3>Contact Details</h3>
          <div class="social-media">
            <p>+91 7557756666</p>
            <p>manzett.koushal@gmail.com</p>
            <div class="social-icons">
              <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                <!-- Facebook SVG -->
                <img src="../assets/images/icons/facebook.svg" alt="Facebook">
              </a>
              <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                <!-- Instagram SVG -->
                <img src="../assets/images/icons/instagram.svg" alt="Instagram">
              </a>
              <a href="https://whatsapp.com" target="_blank" aria-label="WhatsApp">
                <!-- WhatsApp SVG -->
                <img src="../assets/images/icons/whatsapp.svg" alt="WhatsApp">
              </a>
              <a href="https://youtube.com" target="_blank" aria-label="YouTube">
                <!-- YouTube SVG -->
                <img src="../assets/images/icons/youtube.svg" alt="YouTube">
              </a>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="services-and-policy">
      <ul>
        <li>Help</li>
        <li>Term & Services</li>
        <li>Privacy Policy </li>
        <li>Refund Policy</li>
      </ul>
    </div>
  </div>
</footer>