<footer>
  <div class="footer-container">
    <h2>Book Your Session Today</h2>
    <div class="middle-content-wrapper">
      <div class="logo">
        <img src="/manzett.com/assets/images/logo/Footer-Logo.png" alt="">
      </div>
      <div class="premium-and-contact-wrapper">
        <div class="premimum-services">
          <h3>Premium Services</h3>
          <ul>
            <li>Premium Personalized Kundli</li>
            <li>Book Consultation Call</li>
            <li>Fortune Report </li>
            <li>Kundali Matching</li>
          </ul>
        </div>
        <div class="contact-details">
          <h3>Contact Details</h3>
          <div class="social-media">
            <p>+91 7557756666</p>
            <p>manzett.koushal@gmail.com</p>
            <div class="social-icons">
              <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                <img src="/manzett.com/assets/images/socialmedia/icons8-facebook-50.png" alt="Facebook">
              </a>
              <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                <img src="/manzett.com/assets/images/socialmedia/icons8-instagram-50.png" alt="Instagram">
              </a>
              <a href="https://whatsapp.com" target="_blank" aria-label="WhatsApp">
                <img src="/manzett.com/assets/images/socialmedia/icons8-whatsapp-50.png" alt="Whatsapp">
              </a>
              <a href="https://youtube.com" target="_blank" aria-label="YouTube">
                <img src="/manzett.com/assets/images/socialmedia/icons8-youtube-50.png" alt="Youtube">
              </a>
            </div>

          </div>

        </div>
      </div>

    </div>
    <div class="services-and-policy">
      <ul>
        <li>Help</li>
        <li>Term & Services</li>
        <li>Privacy Policy </li>
        <li>Refund Policy</li>
      </ul>
    </div>
  </div>
</footer>
