<header>
  <nav>
    <div class="logo">
      <img src="./assets/images/logo/Main-Logo.png" alt="manzett-logo">
    </div>

    <div class="hamburger" id="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="nav-menu" id="navMenu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="../about.html">About</a></li>
        <li><a href="../appointment.html">Appointment</a></li>
        <li><a href="../services.html">Services</a></li>
        <li><a href="../contact.html">Contact</a></li>
      </ul>
      <button class="book-now-btn">Book Now</button>
    </div>
  </nav>
</header>
