* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  height: 100%;
}

@font-face {
  font-family: 'Playfair-Display-Italic';
  src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair-Display';
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterUcc73';
  src: url('../fonts/inter-ucc73.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'spacegrotesk';
  src: url('../fonts/spacegrotesk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}






main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF6F1;
}

/* Base styles */

header {
  width: 100%;
  padding: 10px 35px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #ceaf56;
}

nav .logo {
  height: 80px;
  width: 180px;
}

nav .logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}


nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  font-family: 'Playfair-Display';
  font-weight: 500;
  margin-right: 30px;
}

nav a:hover {
  text-decoration: underline;
  color: #EC2826;
}

.nav-menu a.active {
 text-decoration: underline;
  color: #EC2826;
}


.book-now-btn {
  padding: 10px 20px;
  background-color: #EC2826;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Playfair-Display';
}

/* Hamburger styling */

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  height: 25px;
  justify-content: space-between;
}

.bar {
  height: 3px;
  width: 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Hamburger animation */

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Nav menu (desktop) */

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu button {
  margin-left: 20px;
}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}


/* Responsive styles */





.book-now-btn, .book-now-btn-header{
  background: #8C0909;
  color: #FFF6F1;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  font-family: 'Playfair-Display';
  text-wrap: nowrap;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book-now-btn-header{
  background: linear-gradient(to right, #EC2826, #8C0909);
}

.book-now-btn:hover, .book-now-btn-header:hover{
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.hero,
.hero-second {
  position: relative;
  height: 90vh;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF6F1;
  background-image: url("../images/background/manzett-slider.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-bottom: 0.5px solid #b4b3b3;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF6F1;
  opacity: 0.1;
  /* adjust to control transparency */
  z-index: 1;
}

/* ensure hero content stays above overlay */
.hero>* {
  position: relative;
  z-index: 2;
}


.hero .hero-content,
.hero-second {
  min-width: 40%;
  padding: 0 20px;
  /* bottom: 5vh; */
}




.hero .hero-content h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0 10px;
  text-wrap: nowrap;
  color: #EC2826;
  line-height: 5rem;
  font-family: 'Playfair-Display-Italic';
}

.hero .hero-content h2 {
  font-size: 3rem;
  margin: 0;
  margin-top: 15px;
  color: #8C0909;
  line-height: 4rem;
  font-weight: 300;
  font-family: 'Playfair-Display';
}

.hero .manzett-portfolio-image {
  height: 100%;
  width: 50%;
  /* max-width: 60%; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero .profile-image {
  height: 500px;

  /* width: 500px; */
  width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rebeccapurple; */
}
/* 
.hero .profile-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF6F1;
  opacity: 0.5;
  z-index: 1;
} */

.hero .profile-image .bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  /* adjust to cover if you prefer */
  object-position: top center;
  /* background-color: yellow; */
  z-index: 0;
}

.hero .profile-image .profile-bg {
  position: relative;
  z-index: 9;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .profile-image .profile-bg img {
  min-width: 100%;
  height: 100%;
  max-height: 1000px;
  object-fit: cover;
  object-position: center 300px;
}


.hero-second {
  position: relative;
  height: 90vh;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  background-color: #ffeec4;
  background-image: url("../images/background/Ask-Manzett-Wesite--2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hero-second::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF6F1;
  opacity: 0.4;
  /* adjust to control transparency */
  z-index: 1;
}

/* ensure hero content stays above overlay */
.hero-second>* {
  position: relative;
  z-index: 2;
}

.heroswipe .hero-second-content {
  text-align: center;
  /* background-color: green; */
}

.heroswipe h2 {
  font-size: 3rem;
  margin: 0;
  color: #EC2826;
  line-height: 4rem;
  font-weight: 600;
  position: relative;
  bottom: 20px;
  font-family: 'Playfair-Display-Italic';
}

.hero-second .hero-second-content p {
  font-size: 1.4rem;
  color: #EC2826;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-family: 'Playfair-Display';
}

.hero-second .hero-second-content strong {
  font-size: 1.4rem;
  color: #8C0909;
  font-weight: 600;
  font-family: 'Playfair-Display';
}

.hero-second .booking-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px;
}

.hero-second .booking-buttons button {
  background-color: #8C0909;
  padding: 15px 25px;
  color: #FFF6F1;
  font-family: 'Playfair-Display';
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  color: black !important;
  padding: 15px;
  font-size: 12px !important;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  transition: background-color 0.3s, opacity 0.3s;
  opacity: 0.7;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}


.hero-swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  /* adjust as needed */
  z-index: 10;
  display: flex;
  padding: 0 5px;
  /* gap: 3px; */
}



.hero-swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #8C0909;
  opacity: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.hero-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #EC2826;
  /* Active bullet background color */
  transform: scale(1.4);
}

.slider-next-button {
  color: rgb(0, 0, 0);
}

.customer-service {
  /* height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
padding: 20px;
  gap: 20px;
  opacity: 0;
}

.customer-service .services {
  min-height: 270px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8C0909;
  border-radius: 10px;
  gap: 25px;
  padding: 30px;
}

.customer-service .icon-and-text {
  /* height: 200px; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  /* background-color: green; */
}

.customer-service .icon-and-text h3 {
  font-size: 1.3rem;
  font-family: 'Playfair-Display';
  /* text-wrap: nowrap; */
  color: #FFF6F1;
  text-wrap: nowrap;
}

.customer-service .icon-and-text h3 strong {
  font-size: 1.8rem;
  font-family: 'Playfair-Display';
  /* text-wrap: nowrap; */
  color: #FFF6F1;
}

.customer-service .icon-and-text .icon {
  height: 60px;
  width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFF6F1;
}

.customer-service .icon-and-text .icon img {
  height: 100%;
  width: 100%;
  color: #8C0909;
}

.customer-service .experence-expertise {
  /* width: 70%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #F2EEEB; */
  /* padding: 50px 100px; */
  text-align: center;
  gap: 20px;
}

.customer-service .experence-expertise .short-div {
  width: 250px;
  padding: 20px;
  font-family: 'Playfair-Display';
  background-color: #FFF6F1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.customer-service .experence-expertise .short-div h3 {
  font-size: 1.5rem;
  border-radius: 10px;
  color: #0C0C0C;
}

.customer-service .experence-expertise .short-div .experience-years {
  font-size: 1.8rem;
  padding: 20px;
  font-family: 'Playfair-Display';
  line-height: 2rem;
  color: #8C0909;
}

.customer-service .experence-expertise .short-div strong {
  font-size: 1.5rem;
  padding: 20px;
  font-family: 'Playfair-Display';
  color: #8C0909;
}

.know-about-manzett {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2EEEB;
  padding: 0 30px;
  border-bottom: 0.5px solid #b4b3b3;
  overflow: hidden;
}

.know-about-manzett .content {
  padding: 0 45px;
  width: 50%;
}

.know-about-manzett .content h1 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-family: 'Playfair-Display';
  color: #8C0909;
}

.know-about-manzett .content strong {
  font-size: 4rem;
  line-height: 4.5rem;
  text-wrap: nowrap;
  font-family: 'Playfair-Display-Italic';
  color: #EC2826;
}

.know-about-manzett .content p {
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: justify;
  font-family: 'Playfair-Display';
  color: #8C0909;
}

.know-about-manzett .content p strong {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  font-family: 'Playfair-Display';
  color: #EC2826;
}

.know-about-manzett .backgroundImage {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  /* background-color: rebeccapurple; */
  overflow: hidden;

}

.know-about-manzett .backgroundImage .bg-img {
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* adjust to cover if you prefer */
  object-position: center;
  /* background-color: yellow; */
  z-index: 0;
}


.know-about-manzett .backgroundImage .background {
  position: relative;
  z-index: 9;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(73, 153, 51); */
}

.know-about-manzett .backgroundImage .background img {
  min-width: 100%;
  height: 100%;
  max-height: 1000px;
  object-fit: cover;
  object-position: center 300px;

}


.card-section h1, .card-section-guidance h1 {
  font-size: 3rem;
  font-family: "Playfair-Display";
  color: #8C0909;
  font-weight: 800;
  margin: 10px 0;
  text-wrap: wrap;
}

.card-section strong, .card-section-guidance strong {
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: "Playfair-Display-Italic";
  color: #EC2826;
}

.card-section .cards-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 75px;
  width: 100%;
  padding: 10px;
  scale: 0.7;
}

.card-section-guidance{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards-grid-guidance {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px; /* reduce gap a bit */
  width: 100%;
  padding: 10px 15px;
  position: relative;
  margin-bottom: 40px;
}


.card-section-guidance .cards-grid-guidance .card {
  min-height: 270px;
  min-width: 270px;
  /* max-width: 270px; */
  /* background-color: red; */
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF6F1;
  background-image: url('../images/background/7956279.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}
.card-section .cards-grid .card {
  height: 270px;
  min-width: 270px;
  /* background-color: red; */
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffeec4;
  background-image: url('../images/background/7956279.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.card-section .cards-grid .card h2, .card-section-guidance .cards-grid-guidance .card h2 {
  font-size: 1.8rem;
  color: #8C0909;
}
.card-section h1{
  text-align: center;
}

.experience-work-short {
  position: relative;
  /* height: 60vh; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background-color: #8C0909;
  padding: 70px;
  overflow: hidden;
}

.experience-work-short::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/background/cancer-bg-overlay2.svg");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%) brightness(0);
  opacity: 0.4;
  z-index: 1;
}

.experience-work-short>* {
  position: relative;
  z-index: 2;
}

.experience-work-short .short-div {
  height: 220px;
  width: 240px;
  border-radius: 10px;
  background-color: #F2EFEA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Playfair-Display';
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  opacity: 0.6;
}

.experience-work-short .short-div strong {
  font-size: 4rem;
  color: #8C0909;
}

.experience-work-short .short-div h3 {
  width: 100%;
  font-size: 1.5rem;
  color: #8C0909;
  text-wrap: nowrap;
}

.booking-details-brief {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F2EEEB;
  font-family: 'Playfair-Display';
  overflow: hidden;
}

.booking-details-brief .booking-contents {
  width: 60%;
  padding: 30px 60px;
}

.booking-details-brief .booking-contents button {
  background-color: #8C0909;
  margin: 20px 0;
  padding: 4px 40px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #F2EEEB;
  border-radius: 2px;
  font-family: 'Playfair-Display-Italic';
  border: none;
  cursor: pointer;
}

.booking-details-brief .booking-contents h2 {
  font-size: 2rem;
  font-weight: 400;
  text-wrap: nowrap;
  line-height: 2.5rem;
  color: #8C0909;
}

.booking-details-brief .booking-contents strong {
  font-size: 3rem;
  font-family: 'Playfair-Display-Italic';
  color: #EC2826;
}

.booking-details-brief .booking-contents p {
  margin: 10px 0;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5rem;
  color: #8C0909;
}

.booking-details-brief .booking-contents h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-family: 'Playfair-Display-Italic';
  color: #EC2826;
}

.booking-details-brief .manzett-image-div {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  background-image: url('../images/background/suneffect.svg');
  /* background-position:right 20px; */
  background-size: cover;
}

.booking-details-brief .manzett-image-div .image {
  height: 100%;
  width: 100%;
  /* background-color: green; */
}

.booking-details-brief .manzett-image-div .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* main .curve-bg {
    position: relative;
    top: 0;
    height: 10vh;
    width: 100%;
    z-index: -1;
  } */

.testimonial-main {
  height: 100vh;

  width: 100%;
  /* max-width: 1200px; */
  background-color: #FFF6F1;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-review-card {
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.swiper-pagination-bullet {
  background: #888;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #007bff;
}


footer {
  /* margin-top: 40px; */
  width: 100%;
  bottom: 0px;
  background-color: #8C0909;
  font-family: 'Playfair-Display';
  border-top: 2px solid #F2EEEB;
}

footer h2 {
  position: relative;
  top: -5vh;
  font-size: 1.8rem;
  background-color: #FFF6F1;
  color: #8C0909;
  padding: 10px 20px;
  font-weight: bolder;
  border-radius: 5px;
  border: 2px solid #8C0909;
  cursor: pointer;
  z-index: 99;
}

footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .footer-container .middle-content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 10px; */
  /* background-color: rebeccapurple; */
}

footer .footer-container .logo {
  height: 250px;
  width: 400px;
  /* background-color: green; */
}

footer .footer-container .logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

footer .footer-container .middle-content-wrapper .premium-and-contact-wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

footer .footer-container .middle-content-wrapper .premimum-services h3 {
  font-size: 1.5rem;
  color: #FFF6F1;
}

footer .footer-container .middle-content-wrapper .premium-and-contact-wrapper .contact-details h3 {
  font-size: 1.5rem;
  color: #FFF6F1;
}

footer .footer-container .middle-content-wrapper .premimum-services ul {
  margin-top: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  color: #FFF6F1;
}

footer .footer-container .middle-content-wrapper .contact-details p {
  list-style: none;
  margin-top: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  color: #FFF6F1;

}

.social-media {
  width: 100%;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.social-icons a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.services-and-policy {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF6F1;
}

.services-and-policy ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
  margin: 10px;
  cursor: pointer;
}

.services-and-policy ul li {
  font-size: 1.2rem;
  font-weight: bold;
}

/* About Starts here  */
.about{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url('../images/background/about-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.about .about-content{
  text-align: center;
  padding: 20px 100px;
  color: #F2EEEB;
}
.about .about-content p{
  font-size: 2.5rem;
  font-family: 'Playfair-Display';
}
.about .about-content h1{
  font-size: 5rem;
  font-family: 'Playfair-Display-Italic';
}
.about .about-content h2{
  font-size: 2rem;
  font-family: 'Playfair-Display';
}

.about-main-content, .wisdom-main-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  background-image: url('../images/background/stars.jpg');
  background-position: bottom;
  background-size: cover;
}
.about-main-content .about-main-header h2, .wisdom-main-content .wisdom-main-header h2{
font-size: 2.5rem;
  font-family: 'Playfair-Display';
  color: #EC2826;
  font-weight: 900;
  border-bottom: 2px solid #EC2826;
}
.about-main-content .about-sub-contents-points, .wisdom-main-content .wisdom-sub-contents-points {
 display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  opacity: 0.5;
}

.about-main-content .about-sub-contents-points h2, .wisdom-main-content .wisdom-sub-contents-points h2{
font-size: 1.5rem;
  font-family: 'Playfair-Display';
  color: #8C0909;
  font-weight: bolder;
  margin: 10px 0;
}
.about-main-content .about-sub-contents-points p strong, .wisdom-main-content .wisdom-sub-contents-points p strong{
font-size: 1.5rem;
  font-family: 'Playfair-Display';
  color: #8C0909;
  font-weight: bolder;
  margin: 10px 0;
}
.about-main-content .about-sub-contents-points p, .wisdom-main-content .wisdom-sub-contents-points p{
font-size: 1.5rem;
  font-family: 'Playfair-Display-Italic';
  color: #8C0909;
  margin: 10px 0;
}

.trust-manzett-koushal{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url('../images/background/about-bg-with-pattern.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.trust-manzett-koushal-img{
  /* height: 400px; */
  width: 450px;
}

.trust-manzett-koushal-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.trust-manzett-koushal .trust-content-section{
  width: 50%;
  padding: 0 10px;
}

.trust-manzett-koushal .trust-content-section .trust-manzett-koushal-content{
  margin: 40px 0;
}

.trust-manzett-koushal .trust-content-section .trust-manzett-koushal-content h2{
  font-size: 2.5rem;
  font-family: 'Playfair-Display';
  color: #EC2826;
  margin: 10px 0;
  line-height: 3rem;
}
.trust-manzett-koushal .trust-content-section .trust-manzett-koushal-content p{
  font-size: 1.2rem;
  font-family: 'Playfair-Display';
  color: #8C0909;
  font-weight: bolder;
}

.struggling-in-life-section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url('../images/background/about-bg-with-pattern.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.struggling-in-life-section .struggling-content{
  padding: 0 20px;
  width: 60%;
}

.struggling-in-life-section .struggling-content h2{
  font-size: 2.5rem;
  font-family: 'Playfair-Display';
  color: #EC2826;
  margin: 5px 0;
  line-height: 3rem;
  font-weight: bolder;
}


.struggling-in-life-section .struggling-content .struggling-sub-contents{
  margin: 10px 0;
}
.struggling-in-life-section .struggling-content .struggling-sub-contents strong{
  font-size: 1.2rem;
  font-family: 'Playfair-Display';
  color: #8C0909;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
.struggling-in-life-section .struggling-content .struggling-sub-contents p{
  font-size: 1rem;
  font-family: 'Playfair-Display';
  color: #8C0909;
  font-weight: 400;
/* line-height: 1rem; */
}

.about-conlusion-section {
  min-height: 20vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 50px 0;
  background-color: #F2EEEB;
  overflow: hidden;
}
.conslusion-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 40px 0;
  background-color: #8C0909;
  overflow: hidden;
}

.conslusion-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/background/cancer-bg-overlay2.svg");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%) brightness(0);
  opacity: 0.3;
  z-index: 1;
}

.about-conlusion-section .conslusion-content h2{
   font-size: 2.5rem;
  font-family: 'Playfair-Display-Italic';
  color: #F2EEEB;
  font-weight: 900;
  text-align: center;
  scale: 0.8;
}

/* Appointment Starts Here  */

.appointment {
  min-height: 80vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 40px 0;
  overflow: hidden;
}

.appointment::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/background/small-icons-cream-bg.png");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: 1;
}

/* Children inside .appointment should go above the ::before layer */
.appointment > * {
  position: relative;
  z-index: 2;
}


.appointment-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appointment-main h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 2rem;
  color: #8C0909;
  font-family: 'Playfair-Display';
  font-weight: bold;
  text-align: end;
}

.appointment-main strong {
  color: #EC2826;
  font-family: 'Playfair-Display-Italic';
  font-weight: bolder;
}

.appointment-main .appointment-content {
  width: 60%;
}

.appointment-main .appointment-content p {
  font-family: 'Playfair-Display';
  font-size: 1.2rem;
  color: #8C0909;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.appointment-main .appointment-content strong {
  font-family: 'Playfair-Display-Italic';
  font-size: 1.2rem;
  color: #8C0909;
  font-weight: 900;
}

.appointment-main .appointment-content strong span {
  font-family: 'Playfair-Display-Italic';
  font-size: 1.2rem;
  color: #EC2826;
  font-weight: 900;
}


.session-importance {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  overflow: hidden;
}

.session-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.session-content h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin-top: 2rem;
  color: #8C0909;
  font-family: 'Playfair-Display';
  font-weight: bold;
  text-align: start;
}


.session-content strong {
  color: #EC2826;
  font-family: 'Playfair-Display-Italic';
  font-weight: bolder;
}

.session-content p {
  font-weight: 900;
  font-family: 'Playfair-Display';
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  margin: 15px 0;
}


.session-banner-image {
  height: 100%;
  width: 40%;
}

.session-banner-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.session-benifits ul {
  list-style: none;
}

.session-benifits ul li {
  margin: 10px 0;
  font-weight: 900;
  font-family: 'Playfair-Display';
  font-size: 1.1rem
}

.choose-a-call {
  min-height: 80vh;
  position: relative;
  width: 100%;
  background-image: url('../images/background/bulb-corner.png');
  background-position: center;
  background-size: cover;
  padding: 10px 15px;
  overflow: hidden;
}

.choose-a-call-content{
  position: relative;
  left: 50px;
}

.choose-a-call h2 {
  font-size: 3.5rem;
  line-height: 4rem;
  left: 20px;
  margin-top: 2rem;
  color: #F2EEEB;
  font-family: 'Playfair-Display';
  font-weight: bold;
  text-align: start;
  letter-spacing: 0.5px;
}

.choose-a-call h2 strong {
  color: #EC2826;
  font-family: 'Playfair-Display-Italic';
  font-weight: bolder;
}

.choose-a-call p {
  color: #F2EEEB;
  font-family: 'Playfair-Display-Italic';
  font-weight: bolder;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: 20px;
}

.call-benifits {
  margin: 40px 0;
}

.call-benifits ul {
  font-family: 'Playfair-Display';
  color: #F2EEEB;
  font-size: 1.2rem;
  list-style: none;
}

.call-benifits button {
  margin-top: 35px;
  background-color: #FFF6F1;
  color: #8C0909;
  padding: 8px 40px;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 5px;
  font-family: 'Playfair-Display-Italic';
  border: none;
  cursor: pointer;
}

.consultaion-pricing {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8C0909;
}

.consultaion-pricing h2 {
  font-size: 2rem;
  font-family: 'Playfair-Display';
  font-weight: 900;
  color: #F2EEEB;
}

.consultaion-pricing .price-catalogue {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.consultaion-pricing .price-catalogue .catalogue-card {
  height: 350px;
  width: 300px;
  margin: 40px 0;
  background-color: #8C0909;
  border: 2px solid #D4B669;
  border-radius: 10px;
}

.consultaion-pricing p {
  font-size: 1.2rem;
  font-family: 'Playfair-Display';
  font-weight: 800;
  color: #D4B669;
}

.sessions-conclusion {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0;
  overflow: hidden;
}

.sessions-conclusion h2 {
  font-size: 2.5rem;
  font-family: 'Playfair-Display';
  font-weight: 900;
  margin-top: 20px;
}

.sessions-conclusion h3 {
  font-size: 2rem;
  font-family: 'Playfair-Display';
  font-weight: 500;
  margin-top: 20px;
}

.sessions-conclusion h2 strong {
  color: #EC2826;
  font-family: 'Playfair-Display-Italic';
  font-weight: 800;
  font-size: 2.5rem;
}

.sessions-conclusion strong {
  color: #EC2826;
  font-family: 'Playfair-Display-Italic';
  font-weight: 900;
  font-size: 2rem;
}

.swiper.conclusionSwiper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8C0909;
}

.swiper.conclusionSwiper .swiper-wrapper {
  padding: 100px 0;
  /* overflow: hidden; */
}

.swiper.conclusionSwiper .swiper-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conclusionSwiper-image {
  height: 350px;
  width: 80%;
}

.swiper.conclusionSwiper .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}


.services {
  min-height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8C0909;
  padding: 30px 0;
  overflow: hidden;
}
.services-content::before {
  content: "";
  height: 100%;
  position: absolute;
  inset: 0;
  background-image: url("../images/background/cancer-bg-overlay2.svg");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%) brightness(0);
  opacity: 0.3;
  z-index: 1;
}

.services-content h1 {
  font-size:4rem;
  font-family: 'Playfair-Display-Italic';
  font-weight: 900;
  color: #D4B669;
  line-height: 4rem;
  z-index: 999;
}

.services-content h1 span {
  font-family: 'Playfair-Display';
  font-weight: 300;
  color: #F2EEEB;
  z-index: 999;
}

.services-content h2 {
  font-size: 5.5rem;
  font-family: 'Playfair-Display-Italic';
  font-weight: 600;
  color: #D4B669;
  line-height: 7rem;
  z-index: 999;
}

.services-content .services-book-now-btn{
  width: 50%;
  text-align: end;
}

.services-book-now-btn button {
  background-color: #D4B669;
  padding: 4px 40px;
  font-size: 1.5rem;
  font-weight: 900;
  color: #8C0909;
  border-radius: 2px;
  font-family: 'Playfair-Display-Italic';
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.services-book-now-btn button:hover {
  background-color: #F2EEEB;
  color: #8C0909;
}


.services-offered {
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.services-banner-image {
  height: 600px;
  width: 500px;
}

.services-banner-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.services-banner-content {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.services-banner-content h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 800;
  font-family: 'Playfair-Display';
}

.services-banner-content h2 strong {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 900;
  font-family: 'Playfair-Display-Italic';
}

.services-banner-content p {
  margin: 20px 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 100;
  font-family: 'Playfair-Display';
}

.services-banner-content button {
  background-color: #8C0909;
  padding: 10px 40px;
  color: #FFF6F1;
  font-family: 'Playfair-Display';
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}


.core-services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  background-color: #F2EEEB;
}

.core-services h2 {
  font-size: 3rem;
  font-family: 'Playfair-Display-Italic';
  color: #EC2826;
  font-weight: 900;
}

.core-services h3 {
  font-size: 4rem;
  font-family: 'Playfair-Display';
  color: #8C0909;
  font-weight: 900;
  letter-spacing: 25px;
  opacity: 0;
}

.core-services-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
  padding: 40px 0;
  justify-content: center;
}


.core-services-wrapper .core-service-card {
  height: 600px;
  width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scale: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.core-service-card h1{
  font-size: 2rem;
  font-style: 'Playfair-Display';
}

.core-service-card:nth-child(4n+1),
.core-service-card:nth-child(4n) {
  background-image: url('../images/background/bg-card-maroon.png');
    background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #F2EEEB;
}

.core-service-card:nth-child(4n+2),
.core-service-card:nth-child(4n+3) {
  background-image: url('../images/background/bg-card-white.png');
    background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #8C0909;
}


.how-it-works {
  text-align: center;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.how-it-works h2 {
  font-family: 'Playfair-Display-Italic';
  font-weight: bold;
  font-size: 4rem;
  color: #a01717;
  margin-bottom: 50px;
}

/* Steps container */
.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #F2EEEB;
}

/* Individual Step */
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  opacity: 0;
  transform: translateY(50px);
}

/* Circle with Number */
.number-circle {
  background-color: #a01717;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-family: serif;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Step Label */
.step p {
  margin-top: 15px;
  font-family: 'Playfair-Display-Italic';
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.step p span {
  font-weight: normal;
  font-style: normal;
}

/* Connecting Line */
.line {
  flex-grow: 1;
  height: 2px;
  background-color: #a01717;
  max-width: 250px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
}



.contact{
min-height: 80vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.contact-hero{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: url('../images/background/contact-hero.jpg'); 
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
}

.contact-hero-content{
  /* padding: 0 80px; */
  min-height: 400px;
  color: #F2EEEB;
  text-align: center;
  font-family: 'Playfair-Display';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 80px;
}

.contact-hero-content h1{
  font-weight: bolder;
  font-size: 3rem;
  line-height: 4rem;
}

.contact-hero-content h2{
  font-weight: 300;
  font-size: 1.2rem;
  margin: 15px 0;
  scale: 0.4;
  opacity: 0.3;
}

.session-booking{
  width: 100%;
  text-align: center;
}

.contact-schedule-button{
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 10px;
  cursor: pointer;
  font-family: 'Playfair-Display';
  background-color: #FFF6F1;
  color: #8C0909;
  padding: 15px 50px;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  border: none;

}

.contact-schedule-button:hover{
  background-color: #F2EEEB;
  color: #8C0909;
}

.map-location{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  overflow: hidden;
}

.map-location .map-content{
  width: 50%;
  text-align: center;
  padding: 0 50px;
}

.map-location .map-content h2{
   font-size: 3rem;
  margin: 10px;
  color: #8C0909;
  font-weight: bolder;
  font-family: 'Playfair-Display';
}

.map-location .map-content .map-content-list{
  text-align: start;
}

.map-location .map-content .map-content-list li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  list-style: none;
  font-size: 1.6rem;
  margin: 10px;
  color: #8C0909;
  font-family: 'Playfair-Display';
  text-wrap: nowrap;
}
.map-location .map-content .map-content-list li img{
  height: 40px;
  width: 40px;
  object-fit: contain;
  object-position: center;
}

.map-location .map iframe{
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.faq-review-section {
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 100px;
  font-family: 'Playfair-Display';
  background-image: url('../images/background/contact-hand.jpg');
  background-position: center;
  background-size: cover;
}

.faq,
.review {
  flex: 1 1 45%;
}

.faq h2,
.review h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-wrap: nowrap;
  color: #000;
  font-family: 'Playfair-Display';

}

/* FAQ styles */
.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  width: 90%;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Playfair-Display';
  ;
  transition: all 0.3s ease;
}

.faq-question:hover {
  background: #F2EFEA;
}

.arrow {
  font-size: 1.5rem;
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.faq-item.active .arrow {
  transform: rotate(90deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  font-size: 1rem;
  padding: 0 10px;
  color: #333;
  transition: max-height 0.3s ease;
}

.faq-item.active .faq-answer {
  max-height: 500px;
  padding-top: 10px;
}

/* Review styles */
.review-card {
  height: 150px;
}

.review-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


